name: Test & Build
on: [push]
env:
  SBT_OPTS: "-sbt-launch-dir .sbt/launchers -sbt-dir .sbt -ivy .ivy2 -Dsbt.color=true -Dscala.color=true"
jobs:
  run-tests:
    name: Run tests
    runs-on: ubuntu-latest
    container: uptane/ci:latest
    services:
      tuf-nginx:
        image: uptane/tuf-nginx:latest

      db:
        image: mariadb:10.4
        env:
          MYSQL_ROOT_PASSWORD: "root"
          MYSQL_DATABASE: "ota_tuf"
          MYSQL_USER: "ota_tuf"
          MYSQL_PASSWORD: "ota_tuf"
        # command:
        #     - --character-set-server=utf8
        #     - --collation-server=utf8_unicode_ci
        #     - --max_connections=1000

    env:
      DB_URL: "jdbc:mariadb://db:3306/ota_tuf"
      MTLS_REPOSERVER_URI: "https://tuf-nginx:8181/"

    steps:
      - uses: actions/checkout@v2
      - name: Cache sbt dependencies
        uses: actions/cache@v2
        with:
          path: |
            .sbt
            .ivy2
          key: ${{ runner.os }}-sbt-deps
      - run: ./deploy/gitlab-db-setup.sh mysql db
      - run: sbt ut:test

  build-docker-images:
    name: Build Images
    runs-on: ubuntu-latest
    needs: run-tests
    container: uptane/ci:latest
    steps:
      - uses: actions/checkout@v2
      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Cache sbt dependencies
        uses: actions/cache@v2
        with:
          path: |
            .sbt
            .ivy2
          key: ${{ runner.os }}-sbt-deps
      - run: sbt docker:publishLocal
      - run: docker tag advancedtelematic/tuf-reposerver:$GITHUB_SHA uptane/tuf-reposerver:$GITHUB_SHA
      - run: docker tag advancedtelematic/tuf-keyserver:$GITHUB_SHA uptane/tuf-keyserver:$GITHUB_SHA
      - run: docker push uptane/tuf-reposerver:$GITHUB_SHA
      - run: docker push uptane/tuf-keyserver:$GITHUB_SHA
